@model List<WebApplication1.Models.Album>
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/Layout.cshtml";
}


<div class="container">
    <div>
        <h1>組員資料 </h1>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <table class="table table-bordered">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>學號</td>
                        <td>姓名 </td>
                        <td>班級 </td>
                        <td>詳細資料 </td>
                        @*<td>課表</td>*@
                        @*<td>Link </td>*@
                        

                    </tr>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            
                            <td>@Model[i].學號</td>
                            <td>@Model[i].姓名</td>
                            <td>@Model[i].班級</td>
                            @*<td>@Model[i].Genre</td>*@

                            <td>
                                <a href="/Home/Detail/@Model[i].學號">查看</a>
                            </td>
                            @*<td>
                                <a href="/Home/timetable/@Model[i].ID">進入</a>
                            </td>*@
                        </tr>
                    }



                </tbody>
                <tfoot></tfoot>

            </table>

        </div>


    </div>
</div>

